body {
  font-family: "Overpass", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  color: #000;
  text-align: left;
  background-color: #f9fafb;
  height: 100%;
  box-shadow: none;
  padding: 0;
}

body,
html {
  padding-right: 0 !important;
}
